.btn {
	border-radius: 10px;
	color: var(--white);
	cursor: pointer;
}

.btn-small {
	padding: var(--space-xx-small) var(--space-x-small);
	background-color: var(--black);
	border: 1px solid var(--white);
}

.btn-small:hover {
	background-color: var(--white);
	color: var(--black);
}

.btn-normal {
	padding: var(--space-medium);
	background-color: var(--secondary);
}

.btn-large {
	padding: var(--space-large) var(--space-xx-large);
	background-color: var(--secondary);
}

.btn-normal:hover,
.btn-large:hover {
	background-color: var(--secondary-dark-2);
}

.w-100 {
	width: 100%;
}

.text-black {
	color: var(--black);
}

.background-success {
	background-color: var(--success);
}

/* inicio bloque btn-submit loading */
.btn-submit {
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn-submit:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}
.btn-submit:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: var(--secondary-dark-2);
	transition: all 2s;
	z-index: -1;
}

.btn-submit:focus::before {
	width: 100%;
}
/* fin bloque btn-submit loading */
