.for-playing {
    padding: var(--space-medium);
    margin-bottom: var(--space-x-large);
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-xx-small);
}

.link {
    color: var(--link-light);
}

.right {
    display: flex;
    gap: var(--space-medium);
}

.image-container {
    margin-top: var(--space-medium);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-play {
    position: absolute;
    bottom: 20%;
}

.tabs-container {
    margin-top: var(--space-large);
}

.instructions {
    list-style: inside;
}

.multimedia {
    margin-bottom: var(--space-large);
}

.multimedia>p {
    margin-bottom: var(--space-xx-small);
}

.video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-play {
    position: absolute;
}

div.image,
div.image_one {
    display: contents;
    position: absolute;
}

div.image img,
div.image_one img {
    animation-duration: 3s;
    animation-name: slideIn;
    transform-origin: center bottom;
    animation-iteration-count: 1;
    scroll-snap-align: center;
}

.multimedia-flex {
    display: flex;
    gap: var(--space-x-small);
    position: relative;
    overflow-x: scroll;
}

.multimedia-flex img {
    max-width: 80%;
    max-height: 80%;
}

@keyframes slideIn {
    from {
        margin-left: 100%;
        opacity: 0;
    }
    to {
        margin-left: 0%;
        opacity: 1;
    }
}