.for-playing {
    padding: var(--space-medium);
    margin-bottom: var(--space-x-large);
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-xx-small);
}

.link {
    color: var(--link-light);
}

.image-container {
    margin-top: var(--space-medium);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-play {
    position: absolute;
    z-index: 1;
    bottom: 20%;
}

.icons-right {
    display: flex;
    justify-content: center;
    margin-top: var(--space-medium);
    gap: var(--space-medium);
}

.tabs-container {
    margin-top: var(--space-large);
}

.multimedia {
    margin-bottom: var(--space-large);
    overflow: hidden;
}

.multimedia>p {
    margin-bottom: var(--space-xx-small);
}

.video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-play {
    position: absolute;
}

div.image,
div.image_one {
    display: contents;
    position: absolute;
}

div.image img,
div.image_one img {
    width: 304px;
}

.multimedia-flex {
    display: flex;
    position: relative;
    overflow-x: scroll;
    width: 500%;
    animation-delay: 4s;
    animation: automation 20s infinite linear;
    transition: all 0.75s ease-in;
}

.multimedia-flex img {
    max-width: 100%;
    max-height: 100%;
}

.container-overlay-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.opacity-overlay {
    background-color: var(--black);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 201;
}

.overlay-info {
    background-color: var(--primary-light-2);
    color: var(--primary-dark-2);
    padding: var(--space-x-large) var(--space-medium);
    position: relative;
    z-index: 202;
}

.overlay-info>p {
    margin-bottom: var(--space-small);
}

.close {
    font-size: 2rem;
    position: absolute;
    right: 16px;
    top: 0px;
    cursor: pointer;
}

@keyframes automation {
    0% {
        margin-left: 0;
    }
    10% {
        margin-left: 0;
    }
    15% {
        margin-left: -100%;
    }
    35% {
        margin-left: -100%;
    }
    40% {
        margin-left: -200%;
    }
    60% {
        margin-left: -200%;
    }
    65% {
        margin-left: -300%;
    }
    75% {
        margin-left: -300%;
    }
    80% {
        margin-left: -400%;
    }
    95% {
        margin-left: -400%;
    }
    100% {
        margin-left: 0;
    }
}

.scale-animation:focus {
    animation: scale-animation 2s linear;
}

.scale-animation:active {
    animation: none;
}

@keyframes scale-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}