<section class="icons-container">
  <div class="opacity opacity-back"></div>
  <div class="opacity opacity-question"></div>
  <app-icon
    class="back"
    name="back"
    [width]="30"
    routerLink="/juego/17"
  ></app-icon>
  <app-icon
    class="question"
    name="question"
    [width]="30"
    (click)="toggleHelpOverlay()"
  ></app-icon>
  <app-overlay [(visible)]="helpOverlayVisible" [help]="true">
    <div class="overlay-content">
      <app-how-to-play></app-how-to-play>
    </div>
  </app-overlay>
</section>

<section class="game">
  <h1>4 en linea</h1>

  <section class="container-canvas">
    <canvas
      (mousedown)="game.canvasMouseDown($event)"
      (mouseup)="game.canvasMouseUp($event)"
      (mousemove)="game.canvasMouseMove($event)"
      #canvas
      class="canvas"
    ></canvas>

    <!--<section class="info">
      <div class="turn-info">
         <p>Turno del jugador: {{ turnOfPlayer1 ? '1' : '2' }}</p> 
        <p>Turno del jugador: 1</p>
        <img *ngIf="true" src="assets/images/chip-yellow.webp" alt="Ficha" />
        <img *ngIf="true" src="assets/images/chip-red.webp" alt="Ficha" />
      </div>
      <div class="time-info">
        <p>
          Tiempo total:
          <b> {{ minutes | number: '2.0' }}:{{ seconds | number: '2.0' }} </b>
        </p>
        <app-button (click)="reset()" text="Reiniciar"></app-button>
      </div>
    </section>
  </section>-->
  </section>
</section>
