.register-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: var(--space-xx-large) 0;
}

.register {
	background-color: var(--primary);
	padding: var(--space-x-large) var(--space-medium);
	color: var(--black);
	border-radius: 20px;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: var(--space-x-small);
}

form {
	margin-top: var(--space-x-large);
}

.link {
	cursor: pointer;
	color: var(--link-dark);
	text-align: center;
	margin-top: var(--space-medium);
}
