.card-game {
	cursor: pointer;
	position: relative;
}

.icon-premium {
	position: absolute;
	top: var(--space-x-small);
	left: var(--space-xx-small);
}

.img-premium {
	border: 2px solid var(--golden);
}

.name-premium {
	color: var(--golden);
}

.name {
	max-width: 250px;
}

.width-250 {
	width: 250px;
}

.width-328 {
	width: 328px;
	border-radius: 10px;
}

@media (min-width: 1024px) {
	.width-250 {
		width: 300px;
	}
}
