.instructions {
  list-style: inside;
  text-align: left;
}

.how-to-play {
  margin-top: var(--space-large);
  width: 100%;
}

.margin-right {
  margin-right: 16px;
}

.gem-list {
  display: flex;
  gap: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.img-gem {
  width: 32px;
  overflow: hidden;
  margin: auto;
}

@media (min-width: 1024px) {
  .how-to-play {
    width: 400px;
    height: 253px;
  }
}
