<ul class="instructions" *ngIf="game.id == 21">
  <li><b>Click:</b> seleccionar ficha</li>
  <li><b>Mover mouse con click apretado:</b> mover la ficha</li>
  <li><b>Soltar mouse en una columna:</b> insertar ficha en columna</li>

  <img
    class="how-to-play"
    src="assets/images/puzzle/connect4howtoplay1.png"
    alt="Como jugar imagen 1"
  />
  <img
    class="how-to-play"
    src="assets/images/puzzle/connect4howtoplay2.png"
    alt="Como jugar imagen 2"
  />
</ul>

<ul class="instructions" *ngIf="game.id == 26">
  <li><b>Saltar:</b> presiona la tecla W o flecha arriba.</li>
  <b>Valores de las gemas:</b>
  <div class="gem-list">
    <div class="gem-container">
      <div class="img-gem">
        <img src="assets/images/parallax/gem-grey.png" alt="Gema gris" />
      </div>
      1 punto
    </div>
    <div class="gem-container">
      <div class="img-gem">
        <img src="assets/images/parallax/gem-blue.png" alt="Gema azul" />
      </div>
      2 puntos
    </div>
    <div class="gem-container">
      <div class="img-gem">
        <img src="assets/images/parallax/gem-green.png" alt="Gema verde" />
      </div>
      2 puntos
    </div>
    <div class="gem-container">
      <div class="img-gem">
        <img src="assets/images/parallax/gem-orange.png" alt="Gema naranja" />
      </div>
      3 puntos
    </div>
    <div class="gem-container">
      <div class="img-gem">
        <img src="assets/images/parallax/gem-pink.png" alt="Gema rosa" />
      </div>
      3 puntos
    </div>
    <div class="gem-container">
      <div class="img-gem">
        <img src="assets/images/parallax/gem-yellow.png" alt="Gema amarilla" />
      </div>
      5 puntos
    </div>
  </div>

  <img
    class="how-to-play margin-right"
    src="assets/images/puzzle/parallaxhowtoplay1.png"
    alt="Como jugar imagen 1"
  />
  <img
    class="how-to-play"
    src="assets/images/puzzle/parallaxhowtoplay2.png"
    alt="Como jugar imagen 2"
  />
</ul>

<ul class="instructions" *ngIf="game.id != 21 && game.id != 26">
  <li><b>Un toque:</b> saltar</li>
  <li><b>Dos toques:</b> salto largo</li>
  <img
    class="how-to-play"
    src="assets/images/how-to-play.jpg"
    alt="Como jugar imagen"
  />
</ul>
