.form-group {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: var(--space-xx-small);
}

input {
	width: 300px;
	height: 40px;
	border-radius: 10px;
	background-color: var(--white);
	padding-left: var(--space-medium);
}
