<section class="upgrade-account">
	<h1 class="title">Mejorar cuenta</h1>
	<div *ngIf="!userIsPremium()">
		<p class="body description">
			Puedes mejorar la calidad de tu cuenta, obteniendo acceso al
			catalogo de juegos especiales!
		</p>

		<div class="checkout">
			<p class="body center">$400 / mes</p>
			<app-button
				(click)="upgradeAccount()"
				text="Mejorar cuenta"
				classList="w-100 btn-submit text-black"
			></app-button>
			<div class="message">
				<app-success-message
					class="message-component"
					(successMessage)="isShown($event)"
					*ngIf="show"
					>Mejora de cuenta exitosa!
				</app-success-message>
			</div>
		</div>
	</div>
	<div *ngIf="userIsPremium()">
		<p class="body description">
			Ya dispones una cuenta de calidad especial!
		</p>
	</div>
</section>
