<link
  href="https://fonts.googleapis.com/css2?family=Creepster&display=swap"
  rel="stylesheet"
/>
<div class="container">
  <div *ngIf="gameOver" class="game-over">
    <h1>Has sido devorado!</h1>
    <p>Tu puntuación fue {{ score }}</p>
    <div class="flex">
      <button (click)="openSelectCharacterInReset()" class="btn-reset-game">
        Seleccionar personaje
      </button>
      <button (click)="reset()" class="btn-reset-game">Volver a jugar</button>
    </div>
  </div>

  <div class="score">
    <div class="score-img-container">
      <img src="/assets/images/parallax/gem-yellow.png" alt="" />
    </div>
    <span>{{ score }}</span>
  </div>

  <div *ngIf="!gameStart" class="choose-character">
    <h1>Elegi tu personaje</h1>
    <div class="flex">
      <div class="container-img-character">
        <img
          (click)="changeCharacter(1)"
          src="assets/images/parallax/character1choose.png"
          alt="pj1"
          [class.chosenCharacter]="characterSelected == 1"
        />
      </div>
      <div class="container-img-character">
        <img
          (click)="changeCharacter(2)"
          src="assets/images/parallax/character2choose.png"
          alt="pj2"
          [class.chosenCharacter]="characterSelected == 2"
        />
      </div>
    </div>
    <button class="btn-reset-game" (click)="gameStart = true">Empezar</button>
  </div>

  <div *ngIf="gameOver" class="opacity opacity-img"></div>
  <div class="layer layer-8" [class.paused]="gameOver || !gameStart"></div>
  <div class="layer layer-7" [class.paused]="gameOver || !gameStart"></div>
  <div class="layer layer-6" [class.paused]="gameOver || !gameStart"></div>
  <div class="layer layer-5" [class.paused]="gameOver || !gameStart"></div>
  <div class="layer layer-4" [class.paused]="gameOver || !gameStart"></div>
  <div class="layer layer-3" [class.paused]="gameOver || !gameStart"></div>
  <div class="layer layer-2" [class.paused]="gameOver || !gameStart"></div>
  <div class="layer layer-1" [class.paused]="gameOver || !gameStart"></div>
  <img
    class="img-jump"
    src="assets/images/parallax/character-jump.png"
    alt=""
  />
  <img
    class="img-jump"
    src="assets/images/parallax/character2-jump.png"
    alt=""
  />
  <div
    id="character"
    class="character"
    [class.walk1]="characterSelected == 1"
    [class.walk2]="characterSelected == 2"
    [class.paused]="!gameStart"
  ></div>
  <div
    *ngFor="let zombie of zombiesInGame"
    id="{{ zombie.id }}"
    class="zombie"
    class="{{ zombie.type }}"
    [class.paused]="zombie.paused"
  ></div>
  <div
    *ngFor="let gem of gemsInGame"
    id="{{ gem.id }}"
    class="gem"
    class="gem-{{ gem.color }}"
    [ngStyle]="{ bottom: gem.bottomStyle + 'px' }"
    [class.paused]="gem.paused"
    [class.gem-collected]="gem.collected"
  ></div>
</div>
