.container {
  position: relative;
  width: 1024px;
  height: 576px;
  margin-top: var(--space-large);
  overflow: hidden;
}

.game-over {
  z-index: 20;
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: #061539;
  display: flex;
  top: 144px;
  left: 250px;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
  align-items: center;
  border-radius: 20px;
  box-shadow: var(--elevation-16dp);
}

.game-over h1 {
  font-family: 'Creepster', cursive;
  font-size: 3.5em;
  letter-spacing: 2px;
  text-align: center;
  animation: textGameOver 1s infinite;
  margin: 50px auto 20px;
}

@keyframes textGameOver {
  0% {
    color: lime;
    text-shadow: 0 0 20px green;
  }
  25% {
    color: green;
    text-shadow: 2px 2px 2px lime;
    transform: translate(-2px, 1px);
  }
  40% {
    color: lime;
    text-shadow: none;
    transform: translate(0, 0);
  }
  50% {
    color: green;
    text-shadow: 5px 5px 2px blue, -5px -5px 2px red;
    transform: translate(0px, 5px);
  }
  70% {
    color: lime;
    text-shadow: none;
    transform: translate(0, 0);
  }
  80% {
    color: lime;
    text-shadow: 0 0 20px green;
    transform: translate(-2px, 1px);
  }
  100% {
    color: lime;
    text-shadow: none;
  }
}

.game-over p {
  font-family: 'Creepster', cursive;
  font-size: 1.3rem;
  padding-top: 20px;
}

.btn-reset-game {
  font-family: 'Creepster', cursive;
  font-size: 1.3rem;
  padding: 8px 16px;
  border-radius: 10px;
}

.btn-reset-game:hover {
  background-color: green;
  color: white;
}

.score {
  position: absolute;

  padding: var(--space-medium);
  display: flex;
  align-items: center;
  z-index: 11;
}

.score-img-container {
  width: 32px;
  overflow: hidden;
  z-index: 15;
}

.score > span {
  font-size: 1.5rem;
  font-weight: 700;
}

.choose-character h1 {
  font-family: 'Creepster', cursive;
}

.choose-character {
  z-index: 20;
  position: absolute;
  width: 500px;
  /* height: 300px; */
  background-color: #061539;
  display: flex;
  top: 144px;
  left: 250px;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
  align-items: center;
  border-radius: 20px;
  box-shadow: var(--elevation-16dp);
}

.flex {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.container-img-character {
  width: calc(856px / 8);
  overflow: hidden;
}

.opacity {
  position: absolute;
  background-color: var(--black);
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 12;
}

/* CHARACTER -------------------------------------------------------- */
.character {
  height: 136px;
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 11;
}

.walk1 {
  width: calc(856px / 8);
  background: url('../../../../../assets/images/parallax/character-walk.png');
  animation: walk 1.2s steps(8) infinite;
}

.walk2 {
  width: calc(856px / 8);
  background: url('../../../../../assets/images/parallax/character2-walk.png');
  animation: walk 1.2s steps(8) infinite;
}

.jump1 {
  width: calc(910px / 10);
  background: url('../../../../../assets/images/parallax/character-jump.png');
  animation: jump 1.8s steps(10) 1;
}

.jump2 {
  width: calc(910px / 10);
  background: url('../../../../../assets/images/parallax/character2-jump.png');
  animation: jump 1.8s steps(10) 1;
}

.die1 {
  width: calc(1363px / 10);
  background: url('../../../../../assets/images/parallax/character-die.png');
  animation: die 1.8s steps(9) 1 forwards;
}

.die2 {
  width: calc(1363px / 10);
  background: url('../../../../../assets/images/parallax/character2-die.png');
  animation: die 1.8s steps(9) 1 forwards;
}

@keyframes walk {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -856px;
  }
}

@keyframes jump {
  0% {
    transform: translate(0px, 0px);
    background-position: 0;
  }
  25% {
    transform: translate(0px, -170px);
  }
  50% {
    transform: translate(0px, -190px);
  }
  75% {
    transform: translate(0px, -170px);
  }
  100% {
    transform: translate(0px, 0px);
    background-position: -910px;
  }
}

@keyframes die {
  0% {
    background-position: 0px;
  }
  100% {
    /* background-position: -1363px; */
    background-position: -1227px;
  }
}

/* ZOMBIES -------------------------------------------------------- */
.zombie {
  width: 128px;
  height: 128px;
  animation: walk-zombie 1s steps(4) infinite, zombie-move 5s linear 1 forwards;
  position: absolute;
  bottom: 16px;
  right: 16px;
  transform: scaleX(-1);
  z-index: 10;
}

.zombie1 {
  width: 104px;
  height: 98px;
  background: url('../../../../../assets/images/parallax/zombie1.png');
  animation: walk-zombie1 1s steps(4) infinite, zombie-move 5s linear 1 forwards;
}

.zombie2 {
  background: url('../../../../../assets/images/parallax/zombie2.png');
}

.zombie3 {
  background: url('../../../../../assets/images/parallax/zombie3.png');
}

.zombie4 {
  width: 61px;
  background: url('../../../../../assets/images/parallax/zombie4.png');
  animation: walk-zombie4 1s steps(4) infinite, zombie-move 5s linear 1 forwards;
}

@keyframes walk-zombie {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -512px;
  }
}

@keyframes zombie-move {
  from {
    right: -128px;
  }
  to {
    right: 1024px;
  }
}

@keyframes walk-zombie1 {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -416px;
  }
}

@keyframes walk-zombie4 {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -244px;
  }
}

/* GEMS -------------------------------------------------------- */
.gem {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 200px;
  animation: gem 2s steps(8) infinite, gem-move 6s linear 1 forwards;
  z-index: 9;
}

.gem-collected {
  animation: gem 2s steps(8) infinite, gem-move 6s linear 1 forwards,
    gem-collected 0.7s linear 1 forwards;
}

.gem-blue {
  background: url('../../../../../assets/images/parallax/gem-blue.png');
}

.gem-green {
  background: url('../../../../../assets/images/parallax/gem-green.png');
}

.gem-grey {
  background: url('../../../../../assets/images/parallax/gem-grey.png');
}

.gem-orange {
  background: url('../../../../../assets/images/parallax/gem-orange.png');
}

.gem-pink {
  background: url('../../../../../assets/images/parallax/gem-pink.png');
}

.gem-yellow {
  background: url('../../../../../assets/images/parallax/gem-yellow.png');
}

@keyframes gem {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -256px;
  }
}

@keyframes gem-move {
  from {
    right: -32px;
  }
  to {
    right: 1024px;
  }
}

@keyframes gem-collected {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* BACKGROUND -------------------------------------------------------- */
@keyframes scroll {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -1024px;
  }
}

.layer {
  width: 1024px;
  height: 576px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: repeat-x;
  background-size: cover;
}

.layer-8 {
  background-image: url('../../../../../assets/images/parallax/sky.png');
  z-index: 1;
}

.layer-7 {
  background-image: url('../../../../../assets/images/parallax/clouds_1.png');
  animation: scroll 45s infinite linear;
  z-index: 2;
}

.layer-6 {
  background-image: url('../../../../../assets/images/parallax/clouds_2.png');
  animation: scroll 30s infinite linear;
  z-index: 3;
}

.layer-5 {
  background-image: url('../../../../../assets/images/parallax/rocks.png');
  animation: scroll 25s infinite linear;
  z-index: 4;
}

.layer-4 {
  background-image: url('../../../../../assets/images/parallax/ground_1.png');
  animation: scroll 20s infinite linear;
  z-index: 5;
}

.layer-3 {
  background-image: url('../../../../../assets/images/parallax/ground_2.png');
  animation: scroll 10s infinite linear;
  z-index: 6;
}

.layer-2 {
  background-image: url('../../../../../assets/images/parallax/ground_3.png');
  animation: scroll 9s infinite linear;
  z-index: 7;
}

.layer-1 {
  background-image: url('../../../../../assets/images/parallax/plant.png');
  animation: scroll 7s infinite linear;
  z-index: 8;
}

.paused {
  animation-play-state: paused;
}
