<div class="container">
  <div *ngIf="gameOver" class="game-over">
    <h1>Has perdido!</h1>
    <p>Tu puntuación fue {{ score }}</p>
    <app-button (click)="reset()" text="Reiniciar"></app-button>
  </div>
  <div class="score">
    <div class="score-img-container">
      <img src="/assets/images/parallax/gem-yellow.png" alt="" />
    </div>
    <span>{{ score }}</span>
  </div>
  <div *ngIf="gameOver" class="opacity opacity-img"></div>
  <div class="layer layer-8" [class.paused]="gameOver"></div>
  <div class="layer layer-7" [class.paused]="gameOver"></div>
  <div class="layer layer-6" [class.paused]="gameOver"></div>
  <div class="layer layer-5" [class.paused]="gameOver"></div>
  <div class="layer layer-4" [class.paused]="gameOver"></div>
  <div class="layer layer-3" [class.paused]="gameOver"></div>
  <div class="layer layer-2" [class.paused]="gameOver"></div>
  <div class="layer layer-1" [class.paused]="gameOver"></div>
  <div id="character" class="character walk"></div>
  <div
    *ngFor="let zombie of zombiesInGame"
    id="{{ zombie.id }}"
    class="zombie"
    class="{{ zombie.type }}"
    [class.paused]="zombie.paused"
  ></div>
  <div
    *ngFor="let gem of gemsInGame"
    id="{{ gem.id }}"
    class="gem"
    class="gem-{{ gem.color }}"
    [ngStyle]="{ bottom: gem.bottomStyle + 'px' }"
    [class.paused]="gem.paused"
  ></div>
</div>
