.container {
  position: relative;
  width: 1024px;
  height: 576px;
  margin-top: var(--space-large);
  overflow: hidden;
}

.game-over {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  position: absolute;
  z-index: 15;
  padding: var(--space-medium);
  display: flex;
  align-items: center;
}

.score-img-container {
  width: 32px;
  overflow: hidden;
}

.score > span {
  font-size: 1.5rem;
  font-weight: 700;
}

/* CHARACTER -------------------------------------------------------- */
.character {
  height: 136px;
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 11;
  border: 1px solid red;
}

.walk {
  width: calc(856px / 8);
  background: url('../../../../../assets/images/parallax/character-walk.png');
  animation: walk 1.2s steps(8) infinite;
}

.jump {
  height: 125px;
  width: calc(910px / 10);
  background: url('../../../../../assets/images/parallax/character-jump.png');
  animation: jump 1.8s steps(10) 1;
}

.die {
  width: calc(1363px / 10);
  background: url('../../../../../assets/images/parallax/character-die.png');
  animation: die 1.8s steps(9) 1 forwards;
}

@keyframes walk {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -856px;
  }
}

@keyframes jump {
  0% {
    transform: translate(0px, 0px);
    background-position: 0;
  }
  25% {
    transform: translate(0px, -170px);
  }
  50% {
    transform: translate(0px, -190px);
  }
  75% {
    transform: translate(0px, -170px);
  }
  100% {
    transform: translate(0px, 0px);
    background-position: -910px;
  }
}

@keyframes die {
  0% {
    background-position: 0px;
  }
  100% {
    /* background-position: -1363px; */
    background-position: -1227px;
  }
}

/* ZOMBIES -------------------------------------------------------- */
.zombie {
  width: 128px;
  height: 128px;
  animation: walk-zombie 1s steps(4) infinite, zombie-move 5s linear infinite;
  position: absolute;
  bottom: 16px;
  right: 16px;
  transform: scaleX(-1);
  z-index: 10;
  border: 1px solid blue;
}

.zombie1 {
  background: url('../../../../../assets/images/parallax/zombie1.png');
}

.zombie2 {
  background: url('../../../../../assets/images/parallax/zombie2.png');
}

.zombie3 {
  background: url('../../../../../assets/images/parallax/zombie3.png');
}

.zombie4 {
  background: url('../../../../../assets/images/parallax/zombie4.png');
}

@keyframes walk-zombie {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -512px;
  }
}

@keyframes zombie-move {
  from {
    right: -128px;
  }
  to {
    right: 1024px;
  }
}

/* GEMS -------------------------------------------------------- */
.gem {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 200px;
  animation: gem 2s steps(8) infinite, gem-move 6s linear 1 forwards;
  z-index: 9;
  border: 1px solid green;
}

.gem-blue {
  background: url('../../../../../assets/images/parallax/gem-blue.png');
}

.gem-green {
  background: url('../../../../../assets/images/parallax/gem-green.png');
}

.gem-grey {
  background: url('../../../../../assets/images/parallax/gem-grey.png');
}

.gem-orange {
  background: url('../../../../../assets/images/parallax/gem-orange.png');
}

.gem-pink {
  background: url('../../../../../assets/images/parallax/gem-pink.png');
}

.gem-yellow {
  background: url('../../../../../assets/images/parallax/gem-yellow.png');
}

@keyframes gem {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -256px;
  }
}

@keyframes gem-move {
  from {
    right: -32px;
  }
  to {
    right: 1024px;
  }
}

/* BACKGROUND -------------------------------------------------------- */
@keyframes scroll {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -1024px;
  }
}

.layer {
  width: 1024px;
  height: 576px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: repeat-x;
  background-size: cover;
}

.layer-8 {
  background-image: url('../../../../../assets/images/parallax/sky.png');
  z-index: 1;
}

.layer-7 {
  background-image: url('../../../../../assets/images/parallax/clouds_1.png');
  animation: scroll 45s infinite linear;
  z-index: 2;
}

.layer-6 {
  background-image: url('../../../../../assets/images/parallax/clouds_2.png');
  animation: scroll 30s infinite linear;
  z-index: 3;
}

.layer-5 {
  background-image: url('../../../../../assets/images/parallax/rocks.png');
  animation: scroll 25s infinite linear;
  z-index: 4;
}

.layer-4 {
  background-image: url('../../../../../assets/images/parallax/ground_1.png');
  animation: scroll 20s infinite linear;
  z-index: 5;
}

.layer-3 {
  background-image: url('../../../../../assets/images/parallax/ground_2.png');
  animation: scroll 10s infinite linear;
  z-index: 6;
}

.layer-2 {
  background-image: url('../../../../../assets/images/parallax/ground_3.png');
  animation: scroll 9s infinite linear;
  z-index: 7;
}

.layer-1 {
  background-image: url('../../../../../assets/images/parallax/plant.png');
  animation: scroll 7s infinite linear;
  z-index: 8;
}
