.select-group {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 300px;
}

label {
	display: block;
	margin-bottom: var(--space-xx-small);
}

select {
	height: 40px;
	border-radius: 10px;
	padding-left: var(--space-medium);

	cursor: pointer;
	appearance: none;
}

.icon {
	position: absolute;
	right: 0;
	pointer-events: none;
}
