.footer {
    background-color: var(--gray-dark);
    color: var(--white);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    flex-flow: row wrap-reverse;
}

.center {
    /* position absolute for logo horizontal alignment */
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    visibility: hidden;
}

.right,
.left {
    display: flex;
    width: 100%;
    justify-content: center;
}

@media(min-width:1024px) {
    .footer {
        justify-content: space-around;
        flex-flow: nowrap;
    }
    .right {
        gap: var(--space-x-small);
    }
    .center {
        visibility: visible;
    }
}