name: Build and Deploy

on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.15'
      - uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Build
        run: |
          cd TP2
          npm install
          npm run-script deploy
          cd EntregaFinal
          echo "---" >> 404.html
          echo "permalink: /404.html" >> 404.html
          echo "---" >> 404.html
          echo $(cat index.html) >> 404.html
          cd ../../TP3
          npm install
          npm run-script deploy
          cd EntregaFinal
          echo "---" >> 404.html
          echo "permalink: /404.html" >> 404.html
          echo "---" >> 404.html
          echo $(cat index.html) >> 404.html
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: .
